@import "fonte.css";

p,b,small,input,a
{
    font-family: 'Galano', sans-serif !important;
    color: #717171 !important;
}

select,input
{
    color: #f0a47e !important;
    border: 2px solid #717171 !important;
    font-family: 'Galano', sans-serif !important;
    padding: 0px 15px !important;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Jazmin', sans-serif !important;
    color: #717171 !important;
}

body
{
    background-image: url('../img/bg.png');
    background-position-x: -500px;
    background-repeat: no-repeat;
}

.centraliza-itens
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.centraliza-itens-sem-text
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}


.bloqueiaBody,
.bloqueiaForm
{
    pointer-events: none;
    text-align: center;
}

.bloqueiaBody::after,
.bloqueiaForm::after
{
    content: url("../img/loader-50.gif");
    background-size: 20px 20px;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.9);
    color: #000; font-weight: bold; font-size: 1.4em;

    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 999;
}

.bloqueiaBody::after
{
    position: fixed;
}



/*
==================================================
                  SIDEBAR
==================================================
*/

hr
{
    border-top: 1px solid #f0a47e !important;
}

.calculadora .sidebar
{
    min-height: 100vh;
}

.btn-continuar
{
    background: transparent;
    width: 100%;
    border: 2px solid;
    color: #717171;
    font-weight: bold;
}
.btn-continuar:hover
{
    background: #fff;
    width: 100%;
    border: 2px solid #f0a47e;
    color: #f0a47e !important;
}

.btn-calcular
{
    background: #f0a47e;
    border: 2px solid #f0a47e;
    color: #fff;
    font-weight: bold;
    width: 300px;
}
.btn-calcular:hover
{
    background: transparent;
    border: 2px solid #f0a47e;
    color: #f0a47e !important;
}


.sidebar p
{
    margin-bottom: 0px !important;
}

.sidebar .logo
{
    width: 100%;
    margin-top: -100%;
}

.resultado .logo
{
    width: 300px;
    margin-top: -100px;
}

.sidebar #parede1,
.sidebar #parede2,
.sidebar #parede3,
.sidebar #parede4
{
    display: none;
}

.icone
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sidebar #porta1,
.sidebar #porta2,
.sidebar #porta3,
.sidebar #porta4,
.sidebar #porta5,
.sidebar #porta6,
.sidebar #porta7,
.sidebar #porta8,
.sidebar #porta9,
.sidebar #porta10
{
    display: none;
}


.sidebar #janela1,
.sidebar #janela2,
.sidebar #janela3,
.sidebar #janela4,
.sidebar #janela5,
.sidebar #janela6,
.sidebar #janela7,
.sidebar #janela8,
.sidebar #janela9,
.sidebar #janela10
{
    display: none;
}


/*
==================================================
                  PAREDE 3D
==================================================
*/

.parede3d
{
    min-height: 100vh;
    display: none;
}

.parede3d img
{
    width: 100%;
    margin-top: 20%;
}

#tamanho_parede_1
{
    display: none;
    text-align: center;
    position: absolute;
    right: 55%;
    top: 26%;
    font-weight: 900;
    transform: rotate(-17deg);
    color: #717171 !important;
}

#tamanho_parede_2
{
    display: none;
    text-align: center;
    position: absolute;
    right: 5%;
    top: 28%;
    font-weight: 900;
    transform: rotate(23deg);
    color: #717171 !important;
}

#tamanho_parede_3
{
    display: none;
    text-align: center;
    position: absolute;
    right: 9%;
    top: 84%;
    font-weight: 900;
    transform: rotate(-29deg);
    color: #717171 !important;
}

#tamanho_parede_4
{
    display: none;
    text-align: center;
    position: absolute;
    right: 62%;
    top: 79%;
    font-weight: 900;
    transform: rotate(42deg);
    color: #717171 !important;
}

#quantidadeJanela,
#quantidadePorta
{
    display: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#quantidadeJanela h1,
#quantidadePorta h1
{
    display: inline;
    margin-left: 20px;
}

.resultado
{
    display: none;
    min-height: 100vh;
}