/*
==================================================
               SITE
==================================================
*/

@media only screen and (max-width: 2000px)
{
    body
    {
        background-position-x: -750px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1600px)
{
    body
    {
        background-position-x: -875px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1300px)
{
    body
    {
        background-image: url('');
    }
}

@media only screen and (max-width: 1119px)
{
    #tamanho_parede_1
    {
        right: 50%;
        top: 34%;
    }

    #tamanho_parede_2
    {
        right: 2%;
        top: 35%;
    }

    #tamanho_parede_3
    {
        top: 72%;
    }

    #tamanho_parede_4
    {
        right: 60%;
        top: 70%;
    }
}

@media only screen and (max-width: 991px)
{
    .owl-carousel-3 .imagebox .style4
    {
        height: 380px !important;
    }
}

@media only screen and (max-width: 767px)
{
    #tamanho_parede_1
    {
        right: 49%;
        top: 25%;
    }

    #tamanho_parede_2
    {
        right: 0%;
        top: 26%
    }

    #tamanho_parede_3
    {
        right: 2%;
        top: 84%;
    }


    #tamanho_parede_4
    {
        right: 54%;
        top: 81%;
        left: -5%;
    }

    .form-register
    {
        height: auto !important;
    }

    .padding-cartao .card-checkout
    {
        padding: 10px 3px 10px;
    }

    .sidebar .logo,
    .resultado .logo
    {
        margin-bottom: 50px;
        margin-top: 50px !important;
    }

    .calculadora .sidebar
    {
        min-height: 300px;
    }

    .parede3d
    {
        min-height: 300px;
    }

    .icone
    {
        bottom: -190px;
        width: 85px;
        right: 40px;
    }

}

@media only screen and (max-width: 425px) {
    #tamanho_parede_1 {
        font-size: 10px;
        right: 54%;
        top: 24%;
    }

    #tamanho_parede_2
    {
        font-size: 10px;
        right: 1%;
        top: 25%;
    }

    #tamanho_parede_3
    {
        right: 5%;
        top: 87%;
        font-size: 10px;
    }


    #tamanho_parede_4
    {
        top: 92%;
        left: -1%;
        font-size: 10px;
    }

}